<!--orders/order_detail.html-->
{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
<nav class="main-nav">
  <div class="nav-buttons">    
    <a href="{% url 'products:product_list' %}" class="btn btn-success">Home</a>
    <a href="{% url 'cart:cart_detail' %}" class="btn btn-success">
        🛒 Edit Cart (Items:{{ cart.total_items }}) (${{ cart.total_price|floatformat:2 }})
    </a>
  
  </div>
</nav>

<h2>Order#{{ order.id }}</h2>
<p>Status: {{ order.status }}</p>
<p><strong> Price: $ {{ order.total_price }}</strong></p>
<p>Shipping_address: {{ order.shipping_address|title }}</p>
<p><small> {{order.created_at }}</small></p>


<!-- вывод списка товаров или кнопок-->
{% if order.status != "paid" %}
  <h3>Items</h3>
  <ul>
    {% for item in orders.items.all %}
      <li>{{ item.quantity }} x {{ item.name }} ({{ item.price }}) = {{ item.total_price }}</li>
    {% endfor %}
  </ul>

  
{% else %}
    <a href="{% url 'orders:order_list' %}" class="btn btn-primary">My orders history</a>
{% endif %}


<!-- Сообщения -->
    {% if messages %}
    <div id="messages-container">
        {% for message in messages %}
        <div class="flash-message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}


{% endblock content %}    