<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My tasks{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'managerr/base.css' %}">
</head>
<body>
    <!-- Навбар -->
    <nav class="navbar">
        <a href="{% url 'managerr:task_new' %}">New Task</a>        
        <a href="{% url 'managerr:task_list' %}">Home.Task list</a>

    <!-- Сообщения -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- Контент -->
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
