<!--blogg/index.html-->
{% extends "blogg/base.html" %}

{% block title %}Home | Blogg{% endblock %}

{% block content %}
    <h1> Welcome to my blog</h1>
    
    {% if topics %}
        {% for topic in topics %}
            <div class="topic">
                <h2> {{topic.name }}</h2>
                <p>by {{ topic.author }}</p>                
                {% for post in topic.posts.all %}
                    <div class="post-card">                        
                        <h3><a href="{% url 'blogg:post_detail' post.id %}">{{ post.header }}</a></h3>                        
                        <h3>{{ post.text|truncatewords:30 }}</h3>
                        <small>{{ post.created_at|date:"Y-m-d H:i"  }}</small>

                        <!--likes-->
                        <div class="actions">
                            {% if user.is_authenticated %}
                                <a href="{% url 'blogg:toggle_like' post.id %}">                                
                                    {% if post.id in user_likes %}
                                        💔Dislike
                                    {% else %}
                                        ❤️Like
                                    {% endif %} 
                                </a>
                            {% else %}
                                <span class="login_required">
                                    <a href="{% url 'account:login' %}">Login to like</a>
                                </span>
                            {% endif %}                    
                            <p>Likes: {{ post.likes.count }}</p>
                        </div> 
                        <!--end likes-->       

                    </div>         
            
                 {% endfor %}   
            </div>         
        {% endfor %}
    {% else %}
        <p>No topics yet</p>
    {% endif %}
{% endblock %}